In [95]:
import pandas as pd

df_dict={"c":[],"d":[],
         "y1":[],"y2":[],"y3":[],
         "Y1":[],"Y2":[],"Y3":[],}

def circuit(c,d,y1,y2,y3,):
    Y1=not( (not(y3 and d)) and (not(y1 and c)))

    Y2=not( (not(y3 and y2)) and (not(y1 and c)))

    Y3=not( c and (not(y3 and d)) and (not(y1 and c)))

    return Y1,Y2,Y3

for c in [False,True]:
    for d in [False, True]:
        for y1 in [False,True]:
            for y2 in [False,True]:
                for y3 in [False,True]:

                    y_old=[y1,y2,y3]
                    Y1,Y2,Y3=circuit(c,d,y1,y2,y3)
                    y_new=[Y1,Y2,Y3]
                    i=0
                    while (y_old==y_new) and (i<40):
                        y_old=y_new
                        Y1,Y2,Y3=circuit(c,d,y_old[0],
                                y_old[1],y_old[2])
                        y_new=[Y1,Y2,Y3]
                        i+=1
                    
                    if i!=40:
                        print(f"{int(c)},{int(d)},{int(y1)},{int(y2)},{int(y3)}->{int(Y1)},{int(Y2)},{int(Y3)}")

                        df_dict["c"].append(c)
                        df_dict["d"].append(d)
                        df_dict["y1"].append(y1)
                        df_dict["y2"].append(y2)
                        df_dict["y3"].append(y3)
                        df_dict["Y1"].append(Y1)
                        df_dict["Y2"].append(Y2)
                        df_dict["Y3"].append(Y3)

df=pd.DataFrame(df_dict).astype(int)

0,0,0,0,0->0,0,1
0,0,0,1,0->0,0,1
0,0,1,0,0->0,0,1
0,0,1,0,1->0,0,1
0,0,1,1,0->0,0,1
0,0,1,1,1->0,1,1
0,1,0,0,0->0,0,1
0,1,0,0,1->1,0,1
0,1,0,1,0->0,0,1
0,1,0,1,1->1,1,1
0,1,1,0,0->0,0,1
0,1,1,1,0->0,0,1
1,0,0,0,1->0,0,0
1,0,0,1,0->0,0,0
1,0,0,1,1->0,1,0
1,0,1,0,0->1,1,1
1,0,1,0,1->1,1,1
1,0,1,1,0->1,1,1
1,1,0,0,1->1,0,1
1,1,0,1,0->0,0,0
1,1,0,1,1->1,1,1
1,1,1,0,0->1,1,1
1,1,1,0,1->1,1,1
1,1,1,1,0->1,1,1

In [108]:
for y1 in [False,True]:
    for y2 in [False,True]:
        for y3 in [False,True]:
            print(f"{int(y1)}{int(y2)}{int(y3)} ",end="")
            for (c,d) in [[False,False],[False,True],[True,True],[True,False]]:

                Y1,Y2,Y3=circuit(c,d,y1,y2,y3)
                print(f"& {int(Y1)}{int(Y2)}{int(Y3)}",end="")
            print("\\\\")
            print("\\hline")

000 & 001& 001& 000& 000\\
\hline
001 & 001& 101& 101& 000\\
\hline
010 & 001& 001& 000& 000\\
\hline
011 & 011& 111& 111& 010\\
\hline
100 & 001& 001& 111& 111\\
\hline
101 & 001& 101& 111& 111\\
\hline
110 & 001& 001& 111& 111\\
\hline
111 & 011& 111& 111& 111\\
\hline

In [109]:
States=[]
for y1 in [False,True]:
    for y2 in [False,True]:
        for y3 in [False,True]:

            States.append([y1,y2,y3])
for i,s in enumerate(States):
    [y1,y2,y3]=s
    print(f"S{i} ",end="")
    for (c,d) in [[False,False],[False,True],[True,True],[True,False]]:

        Y1,Y2,Y3=circuit(c,d,y1,y2,y3)
        print(f"& S{States.index([Y1,Y2,Y3])}",end="")
    print("\\\\")
    print("\\hline")

S0 & S1& S1& S0& S0\\
\hline
S1 & S1& S5& S5& S0\\
\hline
S2 & S1& S1& S0& S0\\
\hline
S3 & S3& S7& S7& S2\\
\hline
S4 & S1& S1& S7& S7\\
\hline
S5 & S1& S5& S7& S7\\
\hline
S6 & S1& S1& S7& S7\\
\hline
S7 & S3& S7& S7& S7\\
\hline

In [110]:
States=[]
for y1 in [False,True]:
    for y2 in [False,True]:
        for y3 in [False,True]:

            States.append([y1,y2,y3])
for i,s in enumerate(States):
    [y1,y2,y3]=s
    print(f"S{i} ",end="")
    for (c,d) in [[False,False],[False,True],[True,True],[True,False]]:

        Y1,Y2,Y3=circuit(c,d,y1,y2,y3)
        if States.index([Y1,Y2,Y3])==i:
            print(f"& S{States.index([Y1,Y2,Y3])}",end="")
        else:
            print("& x",end="")
    print("\\\\")
    print("\\hline")

S0 & x& x& S0& S0\\
\hline
S1 & S1& x& x& x\\
\hline
S2 & x& x& x& x\\
\hline
S3 & S3& x& x& x\\
\hline
S4 & x& x& x& x\\
\hline
S5 & x& S5& x& x\\
\hline
S6 & x& x& x& x\\
\hline
S7 & x& S7& S7& S7\\
\hline

In [107]:
for c in [False,True]:
                        for d in [False,True]:
                            print(c,d)

False False
False True
True False
True True

In [96]:
y_out=df[["Y1","Y2","Y3"]].to_numpy().tolist()
y_in=df[["y1","y2","y3"]].to_numpy().tolist()

rows_to_remove=[]
for i in range(len(y_out)):
    if y_in[i] not in y_out:
        rows_to_remove.append(i)

print(rows_to_remove)

df.drop(rows_to_remove,inplace=True)

[2, 4, 10, 11, 15, 17, 21, 23]

In [97]:
df.shape

(16, 8)

In [98]:
df_clock_on=df[df["c"]==1]

df_clock_on["Y2"]==df_clock_on["d"]

12     True
13     True
14    False
16    False
18    False
19    False
20     True
22     True
dtype: bool

In [99]:
df_clock_on

    c  d  y1  y2  y3  Y1  Y2  Y3
12  1  0   0   0   1   0   0   0
13  1  0   0   1   0   0   0   0
14  1  0   0   1   1   0   1   0
16  1  0   1   0   1   1   1   1
18  1  1   0   0   1   1   0   1
19  1  1   0   1   0   0   0   0
20  1  1   0   1   1   1   1   1
22  1  1   1   0   1   1   1   1

In [100]:
df_clock_off=df[df.c==0]

df_clock_off.y2==df_clock_off.Y2

0     True
1    False
3     True
5     True
6     True
7     True
8    False
9     True
dtype: bool

In [70]:
df_clock_off.shape

(16, 8)

In [71]:
df_clock_off

    c  d  y1  y2  y3  Y1  Y2  Y3
0   0  0   0   0   0   0   0   1
1   0  0   0   0   1   0   0   1
2   0  0   0   1   0   0   0   1
3   0  0   0   1   1   0   1   1
4   0  0   1   0   0   0   0   1
5   0  0   1   0   1   0   0   1
6   0  0   1   1   0   0   0   1
7   0  0   1   1   1   0   1   1
8   0  1   0   0   0   0   0   1
9   0  1   0   0   1   1   0   1
10  0  1   0   1   0   0   0   1
11  0  1   0   1   1   1   1   1
12  0  1   1   0   0   0   0   1
13  0  1   1   0   1   1   0   1
14  0  1   1   1   0   0   0   1
15  0  1   1   1   1   1   1   1

In [51]:
D=5
A=10

Q=0
R=A

for i in range(9):
    if R-D<0:
        Q=Q<<1
        print(Q)
        print("a")
    else:
        Q=Q<<1
        Q=Q+1
        print("Q=",Q)
        R=R-D
        print("R={}".format(R))
    D=D>>1
print(D)
print(bin(Q))
print(R)
print(A)

Q= 1
R=5
Q= 3
R=3
Q= 7
R=2
Q= 15
R=2
Q= 31
R=2
Q= 63
R=2
Q= 127
R=2
Q= 255
R=2
Q= 511
R=2
0
0b111111111
2
10